.main {
  width: 70%;
  margin: 0 auto;
}

h3, p {
  font-family: 'Arial', sans-serif;
}

h3 {
  font-size: 1.25em;
  margin-top: 1em;
  text-align: justify;
  line-height: 1.5em;
}

h3 em {
  font-weight: bold;
}

.right {
  text-align: right;
}

.img-bank {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-bank img {

}
